.custom-navbar {
  background-color: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 1030;
}

.custom-link-color,
.custom-navbar .navbar-brand,
.custom-navbar .btn-link {
  color: rgb(0, 0, 0) !important;
  font-size: 1.1em;
  text-decoration: none;
}


 .botao-login {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 0.5rem 1.25rem;
  border-radius: 30px;
  text-decoration: none;
  width: 9rem;
  height: 3rem;
  text-align: center;
  
 
}

.custom-dropdown-icon {
    font-size: 0.8em; 
    /* Adiciona uma transição suave, se desejar */
    transition: transform 0.2s ease-in-out; 
}



/* 4. Rotaciona a seta quando o dropdown está aberto */
.nav-item.show .custom-dropdown-icon {
    transform: rotate(180deg) !important;
}

/* Estilo para que o texto do link e o ícone fiquem no mesmo nível */
.nav-link {
    /* Garante que o link seja um contêiner flexível se você usar 'd-flex' acima */
    display: flex;
    align-items: center;
}




/* Garante que o ícone do toggler (hambúrguer) seja visível no fundo transparente */
.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.dropdown-menu {
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.dropdown-item {
  color: #333;
}
