.defeitos-container {
  padding: 30px;
  max-width: 1100px;
  margin: auto;
}

.titulo {
  margin-bottom: 20px;
}

.filtros-container {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.input-busca,
.select-filtro {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
}
